.navigation .selected {
    background-color: #9061b2;
}

.navigation .movie-category {
    font-size: 15px;
    cursor: pointer;
    padding: 15px;
    margin: 5px;
}

.navigation .movie-category:hover {
    color: #ffffff;
    background-color: #9061b2;
}

.movie {
    max-width: 100% !important;
    margin-bottom: 10px;
}

.movie-img {
    width: 300px;
    height: 400px;
}

.movie-title {
    text-align: center;
}

.movie-release-date {
    font-weight: bold;
}

.movie-genre {
    font-weight: bold;
}

.trailer-link {}