.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

div#form-register {
    box-shadow: 5px 10px #888888;
}