.repo-container {
    /*width: 50%;*/
    height: 700px;
    margin: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow: scroll;
    line-height: 30px;
}

@media screen and (max-width: 600px) {
    .repo-container {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
}

.repo-text {
    font-weight: 600;
}

.repo-description {
    font-weight: 600;
    font-style: bold;
    color: var(--basic-color);
}

.list-head {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

.footer {
    font-size: 15px;
    font-weight: 600;
}

.list {
    list-style: circle;
}

.updatedat {
    font-style: italic;
}


/* custom scroll bar */

.repo-container {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}

.repo-container::-webkit-scrollbar {
    width: 20px;
}

.repo-container {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.repo-container::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.repo-container::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}