.category {
    font-size: 15px;
    cursor: pointer;
    padding: 15px;
    margin: 5px;
}

.category:hover {
    color: #ffffff;
    background-color: #9061b2;
}

.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    margin-bottom: 10px;
}

.video-item.item img {
    max-width: 200px;
    max-height: 250px;
}

.video-item>.content {
    margin: 10px;
}

iframe.video {
    height: 350px;
    width: 650px;
    border: none;
}

@media only screen and (max-width: 2000px) {
    iframe.video {
        width: 630px;
    }
    .video-container {
        position: fixed;
        top: 375px;
    }
}

@media only screen and (max-width: 1500px) {
    iframe.video {
        width: 600px;
    }
    .video-container {
        position: fixed;
        top: 375px;
    }
}

@media only screen and (max-width: 1200px) {
    iframe.video {
        width: 530px;
    }
    .video-container {
        position: fixed;
        top: 375px;
    }
}

@media only screen and (max-width: 995px) {
    iframe.video {
        width: 400px;
    }
    .video-container {
        position: initial;
        top: 0;
    }
}

@media only screen and (max-width: 750px) {
    iframe.video {
        width: 280px;
    }
    .video-container {
        position: initial;
        top: 0;
    }
}

@media only screen and (max-width: 600px) {
    iframe.video {
        width: 350px;
    }
    .video-container {
        position: initial;
        top: 0;
    }
}

@media only screen and (max-width: 390px) {
    iframe.video {
        width: 300px;
    }
    .video-container {
        position: initial;
        top: 0;
    }
}

@media only screen and (max-width: 350px) {
    iframe.video {
        width: 230px;
    }
    .video-container {
        position: initial;
        top: 0;
    }
}